/* Imports all component files */
@import './buttons.css';
@import './forms.css';
@import './cards.css';
@import './dialogs.css';
@import './reports-accessibility.css';
@import './reports-responsive.css';